x-main {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

x-nav {
    background-color: var(--bootstrip-color-mirage);
    max-height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 176px;
}

x-content {
    padding: 10px;
    padding-left: 200px;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* this has already been moved to boostrip, can remove on next version integration */
x-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-row.list-row--error, .list.--striped .list-row:nth-of-type(odd).list-row--error  {
    color: white;
    background-color:var(--bootstrip-color-punch);
}

.list-row.list-row--error .quiet {
    color: var(--bootstrip-color-silverSand);
}